@page "/CreatePost"
@inject IPostService PostService;
@inject IUserService UserService;
@inject NavigationManager NavigationManager
@using BlazorApp.Services
@using DTOs
@using Microsoft.AspNetCore.Mvc.RazorPages



<h3>CreatePost</h3>
<input @bind = "inputTitle" placeholder="Title"/>
<input @bind = "inputBody" placeholder="Body"/>
<input @bind = "inputAuthor" placeholder="Author"/>

<button @onclick="MakePost">Create a new post</button>

@if (isSuccess)
{
    <p style="color: green;">Post created succesfully!</p>
}

@code {
    private String inputAuthor;
    private String inputTitle;
    private String inputBody;
    private bool isSuccess = false;

    private async Task MakePost()
    {
        
        var user = await UserService.GetUserByUsername(inputAuthor);

        PostDto dto = new PostDto()
        {
            Title = inputTitle,
            Body = inputBody,
            UserID = user.ID,
            Author = inputAuthor
        };
        await PostService.CreatePost(dto);
        isSuccess = true;
        inputBody = string.Empty;
        inputTitle = string.Empty;
        inputAuthor = string.Empty;
    }

}